@model VCF.Models.Inventory

<div class="form-group">
    @Html.LabelFor(m => m.ProductName)
    @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Description)
    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = 4 })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Price)
    @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
</div>
@Html.HiddenFor(m => m.Id)
<input type="submit" class="btn btn-primary" value="Save" />
