@model VCF.Models.Inventory
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<p>
    Are you sure you would like to delete this product?
</p>
<ul>
    <li>Name: @Model.ProductName</li>
    <li>Information: @Model.Description
    </li>
    <li>Price: @Model.Price</li>
</ul>
@using (Html.BeginForm("DoDelete", "Inventory", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)
    <input type="submit" class="btn btn-danger" value="Yes, Delete it!" />
    @Html.ActionLink("No, back to Inventory", "ProductList")
}